body{
    background: url(./images/IMG-1944.jpg), lightgray 50%;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
}

.HomeTopBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 100px ;
    margin-right: 1000px;
}

.HomeTopBar li {
    display: inline;
    margin-right: 10px;
}
.HomeTopBar button {
    margin-right: 100px; /* Add right margin to create spacing between buttons */
    position: relative;
    z-index: 1;
  }
  
  .HomeTopBar button:last-child {
    margin-right: 0; /* Remove right margin for the last button */
  }

  
  .HomeTopBar button:hover {
    z-index: 2;
  }
.HomeTopBar{

    color:#FFF;
    font-size: 20px;
    font-family: Jomolhari;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 114px;
    height: 32px;
    margin-top: 85px;
    margin-bottom: 907px;
    margin-left: 85px;
}

#moto1{
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    /* width: 1440px;
    height: 1024px; */
    /* margin-top: 247px;
    margin-bottom: 195px;
    margin-left: 143px;
    margin-right: 423px; */
    display: flex;
    /* width: 874px;
    height: 582px; */
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    /* font-size: 128px; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.locations{
    width: 1440px;
    height: 1024px;
    background: #211E1E;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;

}
#locations2{
    width: 1141px;
    height: 980px;
    flex-shrink: 0;
    background: #3E3939;
    margin-top: 5px;
    margin-left: 300px;
    margin-right: 70px;

}
#line1{
    width: 953.034px;
    height: 1px;
    background: #000;
    margin-left: 100px;
    margin-top: 0px;
}
#explore{
    color: #FFF;
font-size: 36px;
font-family: Julius Sans One;
font-style: normal;
font-weight: 400;
line-height: 105px;
margin-left: 25px;
}
#exploreimg{
    width: 1004px;
    height: 488px;
    flex-shrink: 0;
    position: relative;
    margin-left: 76px;
    
}
#imgText{
    position: absolute;
    top: 150%;
    padding: 20px;
    color: #FFF;
font-size: 64px;
font-family: Julius Sans One;
font-style: normal;
font-weight: 400;
line-height: 70px;
margin-left: 100px;
}
.listOfListings{
    color: #FFF;
font-size: 24px;
font-family: Julius Sans One;

}
#allListings{
    color: #E22D2D;
}
.contacts{
    /* width: 1440px;
height: 1024px;
background: #FFF;
background-size: cover; */
width: 1440px;
height: 1024px;
background: #292424;
width: 100vw;
height: 100vh;
flex-shrink: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
margin: 0;

}

#bridgeimg{
    width: 500px;
height: 749px;
flex-shrink: 0;
border-radius: 10px;
margin-left: 85px;
margin-top: 100px;
}
#logo2{
    width: 163px;
height: 116px;
flex-shrink: 0;
margin-left: 550px;
margin-bottom: 700px;

}
#guide{
    margin-left: 1100px;
    margin-bottom: 3000px;
    color: #FFF;
font-family: Julius Sans One;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

#hoursAvailable{
    display: flex;
    width: 364px;
    height: 292px;
    flex-direction: column;
    flex-shrink: 0;
}
/* #kilediv{
display: none;
color: #8caf4a;
}
#karendiv {
    display: none;
    background-color: lightblue;
    padding: 10px;
    margin-top: 10px;
  }
  
  #lavingtondiv {
    display: none;
    background-color: lightgreen;
    padding: 10px;
    margin-top: 10px;
  }
  
  #westlandsdiv {
    display: none;
    background-color: lightyellow;
    padding: 10px;
    margin-top: 10px;
  } */
  .house-box {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    /* Add any additional styling you desire */
  }
  .house-box {
    /* border: 1px solid #292424; */
    padding: 0px;
    margin-bottom: 0px;
    background-color: #292424;
    border-radius: 0%;
    align-items: center;
    display: flex;
  }
  
  .house-box img {
    width: 260px;
    height: 216px;
    flex-shrink: 0;
    border-radius: 30px;
  }
  
  .house-box p {
    margin: 5px 0;
    color: #FFF;
  }
      
#locationList {
  display: none;
  position: absolute;
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
}

#locationList li {
  padding: 10px;
  cursor: pointer;
}

#HomeLocations:hover + #locationList,
#locationList:hover {
  display: block;
}

.aboutus{
    /* background-color: #211E1E;
    width: 1250px;
height: 876px;
flex-shrink: 0;
background-size: cover; */
width: 1440px;
height: 1024px;
background: #292424;
width: 100vw;
height: 100vh;
flex-shrink: 0;
background-repeat: no-repeat;
background-size: 100% 100%;
margin: 0;
}

#aboutus1{
    width: 1250px;
height: 876px;
flex-shrink: 0;
border-radius: 106px;
background: #4B4949;
margin-left: 251px;

}
#aboutus2{
    width: 1087px;
    height: 773px;
    flex-shrink: 0;
    border-radius: 52px;
background: #776E6E;
margin-left: 290px;
margin-right: 2000px;
margin-top: 60px;
margin-bottom: 0px;
}

#aboutUsHeader{
    color: #FFF;
    margin-left: 100px;
}
#aboutUsP {
    font-size: 60px;
    font-family: "Arial", sans-serif;
    line-height: 1.5;
  }
#aboutImg{
    width: 344px;
height: 520px;
flex-shrink: 0;
border-radius: 70px;

}
